In [1]:
import pandas as pd
import sqlite3

In [2]:
# install the ipython-sql library
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\arunesh\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\arunesh\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: prettytable<1 in c:\users\arunesh\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\arunesh\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\arunesh\anaconda3\lib\site-packages (from ipython-sql) (1.3.21)
Requirement already satisfied: ipython>=1.0 in c:\users\arunesh\anaconda3\lib\site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: six in c:\users\arunesh\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: backcall in c:\users\arunesh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.10 in c:\users\arunesh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\arunesh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (51.0.0.post20201207)
Requirement already satisfied: decorator in c:\users\arunesh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: pickleshare in c:\users\arunesh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\arunesh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: traitlets>=4.2 in c:\users\arunesh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: colorama in c:\users\arunesh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\arunesh\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.3)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\arunesh\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\arunesh\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

In [3]:
!pip install sqlfluff

Requirement already satisfied: sqlfluff in c:\users\arunesh\anaconda3\lib\site-packages (0.6.0)
Requirement already satisfied: diff-cover>=2.5.0 in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (5.1.2)
Requirement already satisfied: typing-extensions in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (3.7.4.3)
Requirement already satisfied: oyaml in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (1.0)
Requirement already satisfied: Jinja2 in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (2.11.2)
Requirement already satisfied: cached-property in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (1.5.2)
Requirement already satisfied: click>=7.1 in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (7.1.2)
Requirement already satisfied: appdirs in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (1.4.4)
Requirement already satisfied: pytest in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (0.0.0)
Requirement already satisfied: configparser in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (5.0.2)
Requirement already satisfied: colorama>=0.3 in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (0.4.4)
Requirement already satisfied: toml in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (0.10.1)
Requirement already satisfied: tblib in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (1.7.0)
Requirement already satisfied: pathspec in c:\users\arunesh\anaconda3\lib\site-packages (from sqlfluff) (0.7.0)
Requirement already satisfied: jinja2-pluralize in c:\users\arunesh\anaconda3\lib\site-packages (from diff-cover>=2.5.0->sqlfluff) (0.3.0)
Requirement already satisfied: pluggy in c:\users\arunesh\anaconda3\lib\site-packages (from diff-cover>=2.5.0->sqlfluff) (0.13.1)
Requirement already satisfied: pygments in c:\users\arunesh\anaconda3\lib\site-packages (from diff-cover>=2.5.0->sqlfluff) (2.7.3)
Requirement already satisfied: chardet>=3.0.0 in c:\users\arunesh\anaconda3\lib\site-packages (from diff-cover>=2.5.0->sqlfluff) (4.0.0)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\arunesh\anaconda3\lib\site-packages (from Jinja2->sqlfluff) (1.1.1)
Requirement already satisfied: inflect>=0.2.4 in c:\users\arunesh\anaconda3\lib\site-packages (from jinja2-pluralize->diff-cover>=2.5.0->sqlfluff) (5.3.0)
Requirement already satisfied: pyyaml in c:\users\arunesh\anaconda3\lib\site-packages (from oyaml->sqlfluff) (5.3.1)
Requirement already satisfied: attrs>=19.2.0 in c:\users\arunesh\anaconda3\lib\site-packages (from pytest->sqlfluff) (20.3.0)
Requirement already satisfied: iniconfig in c:\users\arunesh\anaconda3\lib\site-packages (from pytest->sqlfluff) (1.1.1)
Requirement already satisfied: packaging in c:\users\arunesh\anaconda3\lib\site-packages (from pytest->sqlfluff) (20.8)
Requirement already satisfied: py>=1.8.2 in c:\users\arunesh\anaconda3\lib\site-packages (from pytest->sqlfluff) (1.10.0)
Requirement already satisfied: atomicwrites>=1.0 in c:\users\arunesh\anaconda3\lib\site-packages (from pytest->sqlfluff) (1.4.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\arunesh\anaconda3\lib\site-packages (from packaging->pytest->sqlfluff) (2.4.7)

In [4]:
# We will use sqlite3 library and create a connection

cnn = sqlite3.connect('factbook.db')

In [5]:
#load SQL module to python
%load_ext sql

In [6]:
%sql sqlite:///factbook.db

In [7]:
%%sql
SELECT * 
    FROM sqlite_master
  WHERE type= 'table'

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [8]:
%%sql
SELECT 
    MIN(population), 
    MAX(population), 
    MIN(population_growth),
    MAX(population_growth)
    FROM facts;

 * sqlite:///factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

In [9]:
%%sql
SELECT name
    FROM facts
    WHERE population = (SELECT MIN(population)
                  FROM facts)

 * sqlite:///factbook.db
Done.

[('Antarctica',)]

In [10]:
%%sql
SELECT name
    FROM facts
    WHERE population = (SELECT MAX(population)
                  FROM facts)

 * sqlite:///factbook.db
Done.

[('World',)]

In [11]:
%%sql
SELECT 
    MIN(population), 
    MAX(population), 
    MIN(population_growth),
    MAX(population_growth)
  FROM facts
  WHERE population > (SELECT MIN(population)
                        FROM facts) 
                        AND
        population < (SELECT MAX(population)
                         FROM facts);

 * sqlite:///factbook.db
Done.

[(48, 1367485388, 0.0, 4.02)]

In [12]:
%%sql
SELECT 
    AVG(population), 
    AVG(area)
    FROM facts
  WHERE population > (SELECT MIN(population)
                        FROM facts) 
                        AND
        population < (SELECT MAX(population)
                         FROM facts);

 * sqlite:///factbook.db
Done.

[(32377011.0125, 582949.8523206752)]

In [13]:
%%sql
SELECT name
    FROM facts
  WHERE population > 
                    (SELECT AVG(population)
                        FROM facts
                      WHERE population > (SELECT MIN(population)
                                            FROM facts) 
                                            AND
                            population < (SELECT MAX(population)
                                             FROM facts))
  AND area <
                    (SELECT AVG(area)
                        FROM facts
                      WHERE population > (SELECT MIN(population)
                                            FROM facts) 
                                            AND
                            population < (SELECT MAX(population)
                                             FROM facts))

 * sqlite:///factbook.db
Done.

[('Bangladesh',),
 ('Germany',),
 ('Iraq',),
 ('Italy',),
 ('Japan',),
 ('Kenya',),
 ('Korea, South',),
 ('Morocco',),
 ('Philippines',),
 ('Poland',),
 ('Spain',),
 ('Thailand',),
 ('Uganda',),
 ('United Kingdom',),
 ('Vietnam',)]